In [1]:
library(RSSL)
library(caret)

Loading required package: lattice
Loading required package: ggplot2

In [2]:
# Cargar solo las columnas necesarias
titanic <- read.csv(file="titanic.csv")[c("Survived", "Pclass", "Sex", "Age")]
str(titanic)

'data.frame':	891 obs. of  4 variables:
 $ Survived: int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass  : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Sex     : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age     : num  22 38 26 35 35 NA 54 2 27 14 ...

In [6]:
# Eliminar datos faltantes
titanic<-titanic[!is.na(titanic$Age),]
titanic

    Survived Pclass Sex    Age
1   0        3      male   22
2   1        1      female 38
3   1        3      female 26
4   1        1      female 35
5   0        3      male   35
7   0        1      male   54
8   0        3      male    2
9   1        3      female 27
10  1        2      female 14
11  1        3      female  4
12  1        1      female 58
13  0        3      male   20
14  0        3      male   39
15  0        3      female 14
16  1        2      female 55
17  0        3      male    2
19  0        3      female 31
21  0        2      male   35
22  1        2      male   34
23  1        3      female 15
24  1        1      male   28
25  0        3      female  8
26  1        3      female 38
28  0        1      male   19
31  0        1      male   40
34  0        2      male   66
35  0        1      male   28
36  0        1      male   42
38  0        3      male   21
39  0        3      female 18
⋮   ⋮        ⋮      ⋮      ⋮
857 1        1      female 45
858 1        1      male   51
859 1        3      female 24
861 0        3      male   41
862 0        2      male   21
863 1        1      female 48
865 0        2      male   24
866 1        2      female 42
867 1        2      female 27
868 0        1      male   31
870 1        3      male    4
871 0        3      male   26
872 1        1      female 47
873 0        1      male   33
874 0        3      male   47
875 1        2      female 28
876 1        3      female 15
877 0        3      male   20
878 0        3      male   19
880 1        1      female 56
881 1        2      female 25
882 0        3      male   33
883 0        3      female 22
884 0        2      male   28
885 0        3      male   25
886 0        3      female 39
887 0        2      male   27
888 1        1      female 19
890 1        1      male   26
891 0        3      male   32